.product-comparison-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    overflow-x: auto;
    width: 100%;
    max-width: 1354px;
    margin: auto;
    padding-bottom: 50px;
}

.product-comparison-block {
    width: 100%;
    text-align: center;
    min-width: 320px;
}

.product-comparison-block-padded {
    padding: 0 40px;
}

.product-comparison-block-title, .product-comparison-block-price {
    color: #1D1D1F;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    line-height: 96%;
}

.product-comparison-block-title {
    margin-bottom: 5px;
}

.product-comparison-block-keyword, .product-comparison-block-desc {
    font-style: normal;
    font-size: 28px;
    line-height: 110%;
    letter-spacing: -0.02em;
    padding: 0 30px;
}

.product-comparison-block-keyword {
    font-weight: 700;
    color: #1E1E1E;
    margin-bottom: 5px;
}

.product-comparison-block-desc {
    font-weight: 400;
    color: #757470;
    margin-top: 0;
}

.product-comparison-block-button {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 80%;
    letter-spacing: -0.02em;
}

.learn-more {
    color: #C35E66;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.02em;
    transition: .3s ease;
}

.learn-more::after {
    content: url("data:image/svg+xml,<svg width='19' height='14' viewBox='0 0 19 14' fill='none' xmlns='http://www.w3.org/2000/svg'><line y1='6.8999' x2='17.6' y2='6.8999' stroke='%23C35E66'/><path d='M12 1L18 7L12 13' stroke='%23C35E66'/></svg>");
    padding-left: 10px;
    transition: .3s ease;
}

.learn-more:hover::after {
    padding-left: 20px;
}

.product-comparison-block-reduction {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: #1D1D1F;
}

.noise-reduction-amount {
    font-weight: 600;
    font-size: 42px;
}

.divider {
    width: 80%;
    background-color: black;
    margin: 1.5em auto;
}

.reduction-desc {
    font-size: 28px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #757470;
    padding: 0 20px;
}

.reduction-desc strong {
    font-weight: 600;
}

.comparison-subheading {
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.03em;   
    color: #1D1D1F; 
}

.icon-perfect-for {
    width: 60px;
    height: 60px;
    object-fit: contain;
    display: block;
    margin: 30px auto;
}

.label-perfect-for {
    display: block;
    color: #1D1D1F;
    font-weight: 400;
    font-size: 28px;
    line-height: 110%;
    letter-spacing: -0.02em;
    margin-bottom: 50px;
}

.label-includes-options {
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #1D1D1F;
    margin: 0;
    padding: 0 20px;
}

.label-includes-options-link {
    margin: 30px auto;
}

.product-img {
    display: block;
    margin: auto;
}

.product-details-img {
    width: 80%;
    height: 100%;
    object-fit: contain;
    padding-bottom: 4em;
}

.product-color-options {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.pill-swatch {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block !important;
    transition: .3s opacity ease;
}

.pill-swatch:hover {
    opacity: .7;
}

.main-page-title.page-title.h0 {
    font-family: 'Avantt';
    font-weight: 700;
}

.product-comparison-block > div:not(:last-child) {
    border-bottom: 1px solid black;
}

.product-comparison-block .product {
    height: 675px;
}

.product-comparison-block .reduction {
    height: 376px;
}

.product-comparison-block .perfect-for {
    height: 762px;
}

.product-comparison-block .includes {
    height: 503px;
}

.product-comparison-block .details {
    height: 700px;
}

.product-comparison-block .product-last {
    height: 473px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1270px) {
    .product-comparison-block-keyword, .product-comparison-block-desc {
        padding: 0 20px;
    }
    .product-comparison-block .reduction {
        height: 415px;
    }
    .product-comparison-block .includes {
        height: 550px;
    }
}

@media only screen and (max-width: 1120px) {
    .product-comparison-block .product {
        height: 715px;
    }
    .product-comparison-block .reduction {
        height: 450px;
    }
    .label-includes-options {
        padding: 0 15px;
    }
}

@media only screen and (max-width: 1000px) {
    .product-comparison-block-title, .product-comparison-block-price, .comparison-subheading, .label-includes-options {
        font-size: 24px;
    }
    .product-comparison-block-keyword, .product-comparison-block-desc, .product-comparison-block-button, .product-comparison-block-reduction, .reduction-desc, .label-perfect-for {
        font-size: 20px;
    }
    .noise-reduction-amount {
        font-size: 34px;
    }
    .learn-more {
        font-size: 18px;
    }
    .product-comparison-block .product {
        height: 610px;
    }
    .product-comparison-block .reduction {
        height: 290px;
    }
    .product-comparison-block .perfect-for {
        height: 685px;
    }
    .product-comparison-block .includes {
        height: 400px;
    }
    .product-comparison-block .details {
        height: 475px;
    }
}